{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div id="register" class="animate form">
             <h1><i class="fa fa-paw"></i> Banny Stores</h1>
            <section class="login_content">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <h1>{% trans "Sign Up" %}</h1>
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}

                    {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                    </div>
                    {% endif %}
                    {% for field in form.visible_fields %}
                    {% if field.errors %}
                    {% for error in field.errors %}
                        {{ field|add_class:'form-control parsley-error' }}
                            <ul class="parsley-errors-list" id="parsley-id-6">
                                <li class="parsley-required">{{ error }}</li>
                            </ul>
                    {% endfor %}
                    {% else %}
                    <div>
                        {{ field|add_class:'form-control' }}
                    </div>
                    {% endif %}
                    <br>
                    {% if field.help_text %}
                        <span class="form-text text-muted">{{ field.help_text }}</span><br>
                    {% endif %}
                    {% endfor %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                        <button class="btn btn-default submit" type="submit">{% trans "Sign Up" %} &raquo;</button>

                    <div class="clearfix"></div>

                    <div class="separator">
                    <p class="change_link">Already have an account?
                    <a href="{{ login_url }}" class="to_register"> Log in </a>
                    </p>

                    <div class="clearfix"></div>
                    <br />

                        <div>
                            <h1><i class="fa fa-paw"></i> Banny Stores</h1>
                            <p><small>
						        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Template <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
					        </small></p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

{% endblock %}
