{% load template_helpers %}

<div class="store-filter clearfix">
  <div class="pull-left">
    <div class="row-filter">
      <a href="#" class="active"><i class="fa fa-th-large"></i></a>
      <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <div class="sort-filter">
      <span class="text-uppercase">{{sortform.sort_by.label_tag|striptags}}</span>
      {{sortform.sort_by}}
      <a href="#" class="main-btn icon-btn"><i class="fa fa-arrow-down"></i></a>
    </div>
  </div> 
  <div class="pull-right">
    <div class="page-filter">
      <span class="text-uppercase">Show:</span>
      <select class="input">
        <option value="0">10</option>
        <option value="1">20</option>
        <option value="2">30</option>
      </select>
    </div>
    <ul class="reviews-pages">
      {% if results.has_other_pages %}
      {% if results.has_previous %}
        <li><a href="?page={{results.previous_page_number}}"><i class="fa fa-caret-left"></i></a></li>
      {% else %}
        <li><i class="fa fa-caret-left"></i></li>
      {% endif %}
      {% for p in results.paginator.page_range %}
        {% if results.number == p %}
        <li class="active">{{p}}</li>
        {% elif p > results.number|add:'-3' and p < results.number|add:'3' %}
        <li><a href="{% relative_url p 'page' request.GET.urlencode %}">{{p}}</a></li>
        {% endif %}
      {% endfor %}
      {% if results.has_next %}
        <li><a href="?page={{results.next_page_number}}"><i class="fa fa-caret-right"></i></a></li>
      {% else %}
        <li><i class="disabled fa fa-caret-right"></i></li>
      {% endif %}
      {% endif %}
    </ul>
  </div>
</div>
