{% extends 'products/base2.html' %}
{% load static %}

{% block content %}
<div class="section">
	<!-- container -->
	<div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">

                <!-- aside widget -->
                {% comment %} <div class="aside">
                    <h3 class="aside-title">Filter By Size:</h3>
                    <ul class="size-option">
                        <li class="active"><a href="#">S</a></li>
                        <li class="active"><a href="#">XL</a></li>
                        <li><a href="#">SL</a></li>
                    </ul>
                </div> {% endcomment %}
                <!-- /aside widget -->

                <!-- aside widget -->
                <div class="aside">
                    <h3 class="aside-title">Filter by Brand</h3>
                    <ul class="list-links">
                        <li><a href="#">Sperie</a></li>
                        <li><a href="#">Louistine NG</a></li>
                        <li><a href="#">Trips</a></li>
                        <li><a href="#">Lacost</a></li>
                    </ul>
                </div>
                <!-- /aside widget -->

                <!-- aside widget -->
                <div class="aside">
                    <h3 class="aside-title">Filter by Gender</h3>
                    <ul class="list-links">
                        <li class="active"><a href="#">Men</a></li>
                        <li><a href="#">Women</a></li>
                    </ul>
                </div>
                <!-- /aside widget -->
            </div>
            <!-- /ASIDE -->

            <!-- MAIN -->
            <div id="main" class="col-md-9">
                <div class="row">
                    {% for category in object_list %}
                    {% if not category.parent %}
                        <div class="col-md-4">
                            <ul class="list-links">                
                        
                                <li class="dropdown side-dropdown">
                                    <h3 class="list-links-title"><a href="#">{{category.title}}<i class="hidden-md hidden-lg fa fa-angle-right pull-right"></i></a></h3>
                                </li>
                                {% if category.children.get_queryset %}
                                {% for child in category.children.get_queryset %}
                                <li><a href="#">{{child.title}}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>               
                            <br>
                            <br class="hidden-md hidden-lg">
                        </div>
                        {% cycle "" "" "</div><div class='row'>" %}
                        {% if forloop.last and not forloop.counter|divisibleby:"3" %}</div>{% endif %}
                    {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}