{% extends 'products/base2.html' %}

{% block content %}
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<form method="POST" id="checkout-form" class="clearfix">
				{% csrf_token %}
					<div class="col-md-6">
						<div class="billing-details">
							{% comment %} <p>Already a customer ? <a href="#">Login</a></p> {% endcomment %}
							<div class="section-title">
								<h3 class="title">billing Details</h3>
							</div>
							<div class="billing_form">
								<div class="form-group">
									<input class="input" type="text" name="billing_street_address" id="billing_street_address" placeholder="Address">
								</div>
								<div class="form-group">
									<input class="input" type="text" name="billing_apartment_address" id="billing_apartment_address" placeholder="Apartment">
								</div>
								<div class="form-group">
									{{form.billing_country}}
								</div>
								<div class="form-group">
									<input class="input" type="text" name="billing_zip_code" id="billing_zip_code" placeholder="ZIP Code">
								</div>
								{% comment %} <div class="form-group">
									<input class="input" type="tel" name="tel" placeholder="Telephone">
								</div> {% endcomment %}
								<div class="form-group">
									<div class="input-checkbox">
										<input type="checkbox" name="set_default_billing" id="set_default_billing">
										<label class="font-weak" for="set_default_billing">Save as default billing address?</label>
										<div class="caption">
											<span>Information will be saved as your default billing address<span>
										</div>
									</div>
								</div>
							</div>
							{% if default_billing_address %}
							<div class="form-group">
								<div class="input-checkbox">
									<input type="checkbox" name="use_default_billing" id="use_default_billing">
									<label class="font-weak" for="use_default_billing">Use default billing address: {{ default_billing_address.street_address|truncatechars:20 }}</label>
									<div class="caption">
										<p>The Bill of this order will be sent to {{ default_billing_address.street_address }}<p>
									</div>
								</div>
							</div>
							{% endif %}
							<div class="form-group same-billing">
								<div class="input-checkbox">
									<input type="checkbox" name="same_billing_address" id="same_billing_address">
									<label class="font-weak" for="same_billing_address">Billing address is same as Shipping address?</label>
									<div class="caption">
										<p>Items will be shipped to your billing address.<p>
									</div>
								</div>
							</div>
						</div>
						<hr>
						<div class="billing-details shipping_details">
							{% comment %} <p>Already a customer ? <a href="#">Login</a></p> {% endcomment %}
							<div class="section-title">
								<h3 class="title">Shipping Details</h3>
							</div>
							<div class="shipping_form">
								<div class="form-group">
									<input class="input" type="text" name="shipping_street_address" id="shipping_street_address" placeholder="Address">
								</div>
								<div class="form-group">
									<input class="input" type="text" name="shipping_apartment_address" id="shipping_apartment_address" placeholder="Apartment">
								</div>
								<div class="form-group">
									{{form.shipping_country}}
								</div>
								<div class="form-group">
									<input class="input" type="text" name="shipping_zip_code" id="shipping_zip_code" placeholder="ZIP Code">
								</div>
								{% comment %} <div class="form-group">
									<input class="input" type="tel" name="tel" placeholder="Telephone">
								</div> {% endcomment %}
								<div class="form-group">
									<div class="input-checkbox">
										<input type="checkbox" name="set_default_shipping" id="set_default_shipping">
										<label class="font-weak" for="set_default_shipping">Set as default shipping address?</label>
										<div class="caption">
											<p>Information will be saved as your default shipping address<p>
										</div>
									</div>
								</div>
							</div>
							{% if default_shipping_address %}
							<div class="form-group default-shipping">
								<div class="input-checkbox">
									<input type="checkbox" name="use_default_shipping" id="use_default_shipping">
									<label class="font-weak" for="use_default_shipping">Use default shipping address: {{ default_shipping_address.street_address|truncatechars:20 }}</label>
									<div class="caption">
										<p>Order will be shipped to {{ default_shipping_address.street_address }}<p>
									</div>
								</div>
							</div>
							{% endif %}
						</div>
					</div>

					<div class="col-md-6">
						{% comment %} <div class="shiping-methods">
							<div class="section-title">
								<h4 class="title">Shipping</h4>
							</div>
							<div class="input-checkbox">
								<input type="radio" name="shipping" id="shipping-1" checked>
								<label for="shipping-1">Free Shiping -  $0.00</label>
								<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										<p>
								</div>
							</div>
							<div class="input-checkbox">
								<input type="radio" name="shipping" id="shipping-2">
								<label for="shipping-2">Standard - $4.00</label>
								<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										<p>
								</div>
							</div>
						</div> {% endcomment %}

						<div class="payments-methods">
							<div class="section-title">
								<h4 class="title">Payments Methods</h4>
							</div>
							{% for value, name in form.fields.payment_option.choices %}
							<div class="input-checkbox">
								<input type="radio" value="{{ value }}" name="payment_option" id="{{name}}">
								<label for="{{name}}">{{ name }}</label>
								<div class="caption">
									<p><p>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="pull-right">
						<button type="submit" class="primary-btn">Proceed</button>
					</div>
				</form>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock content %}