{% extends 'products/base2.html' %}
{% load static %}
{% load home_tags %}

{% block content %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="{% url 'products:index' %}">Home</a></li>
				<li><a href="{% url 'products:products-list' %}">Products</a></li>
				{% for slug, name in breadcrumbs %}
				<li><a href="/category/{{slug}}">{{ name }}</a></li>
				{% endfor %}
				<li class="active">{{ object.title }}</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->



	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				<div class="product product-details clearfix">
					<div class="col-md-6">
						<div id="product-main-view">
						{% for i in item.productimage_set.all %}
							<div class="product-view">
								<img src="{{ i.large_image.url }}" alt="">
							</div>
						{% endfor %}
						</div>
						<div id="product-view">
						{% for i in item.productimage_set.all %}
							<div class="product-view">
								<img src="{{ i.thumb_image.url }}" alt="">
							</div>
						{% endfor %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="product-body">
							<div class="product-label">
								<span>New</span>
								{% if item.discount %}
								<span class="sale">-{{ item.get_percentage_discount }}%</span>
								{% endif %}
							</div>
							<h2 class="product-name">{{ object.title }}</h2>
							{% if item.discount %}
								<h3 class="product-price">${{ item.discount }} <del class="product-old-price">${{ item.price }}</del></h3>
							{% else %}
								<h3 class="product-price">${{ item.price }}</h3>
							{% endif %}
							<div>
							    <div class="product-rating stars-rating" data-rating="{{item.get_avg_rating}}" data-num-stars="5" alt="rated {{item.get_avg_rating}}"></div>
								<a data-toggle="tab" href="#tab2">{{ item.review_set.count }} Review(s) / Add Review</a>
							</div>
							
							<p><strong>Availability:</strong> {{ item.get_avaliability_display }}</p>
							{% if item.brand %}<p><strong>Brand:</strong> {{ item.brand }}</p>{% endif %}
							<p>{{ object.description }}</p>
							{% if item.variations.all %}
							<div class="product-options">
							{% for category in item.variations.all %}
							{% if category.colors %}
								<ul class="color-option">
									<li><span class="text-uppercase">{{ category.name }}:</span></li>
									{% comment %} <li class="active"><a href="#" style="background-color:#475984;"></a></li> {% endcomment %}
									{% for value in category.values.all %}
									<li class="active"><a href="#" style="background-color:{{ value.frontend_value }}; border: 1px solid black"></a></li>
									{% endfor %}
								</ul>
							{% else %}					
								<ul class="size-option">
									<li><span class="text-uppercase">{{ category.name }}:</span></li>
									{% for value in category.values.all %}
									<li class="text-uppercase"><a href="#">{{ value.frontend_value }}</a></li>
									{% endfor %}
								</ul>
							{% endif %}
							{% endfor %}
							</div>
							{% endif %}

							<div class="product-btns">
								<div class="qty-input">
									<span class="text-uppercase">QTY: </span>
									<input class="input" type="number">
								</div>
								<a class="primary-btn add-to-cart" href="{{ object.get_add_to_cart_url }}"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
								<div class="pull-right">
									<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="product-tab">
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Details</a></li>
								<li><a data-toggle="tab" href="#tab2">Reviews ({{ item.review_set.count }})</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab1" class="tab-pane fade in active">
									<p>{{item.description}}</p>
								</div>
								<div id="tab2" class="tab-pane fade in">

									<div class="row">
										<div class="col-md-6">
											<div class="product-reviews">
											{% for review in reviews %}
												<div class="single-review">
													<div class="review-heading">
														<div><a href="#"><i class="fa fa-user-o"></i> {{review.user_name}}</a></div>
														<div><a href="#"><i class="fa fa-clock-o"></i> {{ review.created_at|date:'d M Y / H:i A' }}</a></div>
														<div 
														class="review-rating stars-rating pull-right" 
														data-rating="{{review.rating}}" 
														data-num-stars="5" 
														alt="rated {{review.rating}}"
														></div>
													</div>
													<div class="review-body">
														<p>{{review.comment}}</p>
													</div>
												</div>
											{% endfor %}

												<ul class="reviews-pages">
												{% if reviews.has_other_pages %}
												{% if reviews.has_previous %}
													<li><a href="?page={{reviews.previous_page_number}}"><i class="fa fa-caret-left"></i></a></li>
												{% else %}
													<li><i class="fa fa-caret-left"></i></li>
												{% endif %}
												{% for p in reviews.paginator.page_range %}
													{% if reviews.number == p %}
													<li class="active">{{p}}</li>
													{% elif p > reviews.number|add:'-3' and p < reviews.number|add:'3' %}
													<li><a href="?page={{p}}">{{p}}</a></li>
													{% endif %}
												{% endfor %}
												{% if reviews.has_next %}
													<li><a href="?page={{reviews.next_page_number}}"><i class="fa fa-caret-right"></i></a></li>
												{% else %}
													<li><i class="disabled fa fa-caret-right"></i></li>
												{% endif %}
												{% endif %}
												</ul>
											</div>
										</div>
										<div class="col-md-6">
											<h4 class="text-uppercase">Write Your Review</h4>
											<p>Your email address will not be published.</p>
											<form action="." method="POST" class="review-form">
											{% csrf_token %}
												<div class="form-group">
													{{form.user_name}}
												</div>
												<div class="form-group">
													{{form.customer_email}}
												</div>
												<div class="form-group">
													{{form.comment}}
												</div>
												<div class="form-group">
													<div class="input-rating">
														<strong class="text-uppercase">Rate this product: </strong>
														<div class="stars">
															<input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
															<input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
															<input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
															<input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
															<input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
														</div>
													</div>
												</div>
												<button class="primary-btn">Submit</button>
											</form>
										</div>
									</div>



								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			{% home_section related_products "Related Products" %}
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
{% endblock content %}


{% block extra_js %}
	<script src={% static 'js/jquery.zoom.min.js' %}></script>
{% endblock extra_js%}